/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
    =====================================
    Custom Styles
    =====================================
*/

body {
  background: #344e41;
  color: #5f6468;
  font: 400 16px/22px "Cormorant", "Open Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}

h1,
h2,
h3,
h4 {
  color: #718055;
}

.hero h2 {
  color: #a3b18a;
}

h1 {
  font-size: 36px;
  line-height: 44px;
}

h2 {
  font-size: 24px;
  line-height: 44px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

h5 {
  color: #5f6468;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

strong {
  font-weight: 400;
}

cite,
em {
  font-style: italic;
}

/*
    =====================================
    Links
    =====================================
*/

a {
  color: #a3b18a;
  text-decoration: none;
}

a:hover {
  color: #a9b2b9;
}

p a {
  border-bottom: 1px solid #dfe2e5;
}

.primary-header a,
.primary-footer a {
  color: #fff;
}

.primary-header a:hover,
.primary-footer a:hover {
  color: #a3b18a;
}

/*
    =====================================
    Grid
    =====================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container,
.grid {
  margin: 0 auto;
  max-width: 960px;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}

.col-1-3 {
  width: 33.33%;
}

.col-2-3 {
  width: 66.66%;
}

.col-1-3,
.col-2-3,
.col-1-2 {
  display: inline-block;
  vertical-align: top;
}

.grid,
.col-1-3,
.col-2-3,
.col-1-2 {
  padding-left: 15px;
  padding-right: 15px;
}

.col-1-2 {
  width: 50%;
}

.container-solo {
  margin: 0 auto;
  width: 831px;
  height: 1400px;
}

/*
    =====================================
    Clearfix
    =====================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  clear: both;
  *zoom: 1;
}

/*
    =====================================
    Rows
    =====================================
*/

/* .row,
.row-alt {
  max-width: 960px;
} */

.row {
  background: #fff;
  padding: 66px 0 44px 0;
}

.row-alt {
  background: #cbe2c1;
  background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background: -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background: linear-gradient(to right, #a1d3b0, #f6f1d3);
  padding: 44px 0 22px 0;
}

/*
    =====================================
    Primary header
    =====================================
*/

.logo {
  border-top: 4px solid #a3b18a;
  float: left;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: 0.5px;
  line-height: 44px;
  padding: 40px 0px 22px 0px;
  text-transform: uppercase;
}

.tagline {
  margin: 66px 0 22px 0;
  text-align: right;
}

.primary-nav {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

/*
    =====================================
    Primary footer
    =====================================
*/

.primary-footer small {
  float: left;
  font-weight: 400;
}

.primary-footer {
  color: #a3b18a;
  font-size: 14px;
  padding-bottom: 44px;
  padding-top: 44px;
}

/*
    =====================================
    Typography
    =====================================
*/

h1,
h3,
h4,
h5,
p,
ul.rules {
  margin-bottom: 22px;
}

ul.rules {
  list-style: square;
  margin: 0 0 22px 30px;
}

/*
    =====================================
    Leads
    =====================================
*/

.lead {
  text-align: center;
}

.lead p {
  font-size: 21px;
  line-height: 33px;
}

/*
    =====================================
    Buttons
    =====================================
*/

.btn {
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0;
  text-transform: uppercase;
}

.btn-alt {
  border: 1px solid #fff;
  padding: 10px 30px;
}

.btn-alt:hover {
  background: #fff;
  color: #a3b18a;
}

.my-button {
  background-color: transparent;
  border: 10px;
  /* color: black; */
  cursor: pointer;
  font-size: 30px;
  margin-left: 32px;
  float: left;
  line-height: 70px;
  display: none;
}


/*
    =====================================
    Home
    =====================================
*/

.hero {
  color: #fff;
  line-height: 44px;
  padding: 22px 80px 66px 80px;
  text-align: center;
}

.hero h2 {
  font-size: 36px;
}

.hero p {
  font-size: 24px;
  font-weight: 100;
}

.teaser a:hover h3 {
  color: #a9b2b9;
}

.teaser img {
  border-radius: 5px;
  display: block;
  margin-bottom: 22px;
  max-width: 100%;
}

/*
    =====================================
    Navigation
    =====================================
*/

.nav {
  text-align: right;
}

.nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}

.nav li:last-child {
  margin-right: 0;
}

/*
    =====================================
    Standings
    =====================================
*/

.standings {
  height: 100%;
  width: 100%;
}

/*
    =====================================
    Register
    =====================================
*/

.previous-members {
  list-style: square;
  margin: 0 0 22px 30px;
}

form {
  margin-bottom: 22px;
}

input,
select,
textarea {
  font: 300 16px/22px "Cormorant", "Open Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}

.register-group label {
  color: #a3b18a;
  cursor: pointer;
  font-weight: 400;
}

.register-group input,
.register-group select,
.register-group textarea {
  border: 1px solid #c6c9cc;
  border-radius: 5px;
  color: #888;
  display: block;
  margin: 5px 0 27px 0;
  padding: 5px 8px;
}

.register-group input,
.register-group textarea {
  width: 100%;
}

.register-group select {
  height: 34px;
  width: 60px;
}

.register-group textarea {
  height: 78px;
}

.btn-default {
  border: 0;
  background: #a3b18a;
  padding: 11px 30px;
  font-size: 14px;
}

.btn-default:hover {
  background: #77a198;
}

/*
    =====================================
    Schedule
    =====================================
*/

table {
  margin-bottom: 44px;
  width: 100%;
}

table:last-child {
  margin-bottom: 0;
}

th,
td {
  padding-bottom: 22px;
  vertical-align: top;
}

th {
  padding-right: 45px;
  text-align: right;
  width: 20%;
}

td {
  width: 40%;
}

thead {
  line-height: 44px;
}

thead th,
thead td {
  color: #718055;
  font-size: 24px;
}

tbody th {
  color: #5f6468;
  font-size: 14px;
  font-weight: 500;
  padding-top: 22px;
  text-transform: uppercase;
}

tbody td {
  border-top: 1px solid #777e83;
  padding-top: 21px;
}

tbody td:first-of-type {
  padding-right: 15px;
}

tbody td:last-of-type {
  padding-left: 15px;
}

tbody td:only-of-type {
  padding-left: 0;
  padding-right: 0;
}

table a {
  color: #777e83;
}

table h4 {
  margin-bottom: 0;
}

.schedule-offset {
  color: #777e83;
}

/*
    =====================================
    Media Queries
    =====================================
*/

@media screen and (min-width: 768px) and (max-width: 1023px) {

  html,
  body {
    width: 100vw;
  }

  .logo {
    float: none;
    margin-bottom: 0;
    font-size: 2.5em;
  }

  .hero h2 {
    font-size: 1.75em;
  }

  .hero p {
    font-size: 1.2em;
  }

  .primary-header {
    width: 100%;
  }

  .row,
  .row-alt {
    display: flex;
    width: 100%;
  }

  .primary-nav ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-around;
    position: absolute;
    top: 17%;
  }

}

@media screen and (max-width: 767px) {

  html,
  body {
    width: 100vw;
  }

  .logo {
    float: none;
    margin-bottom: 0;
    font-size: 2.5em;
  }

  .primary-nav button {
    display: block;
    position: absolute;
    right: 2%;
    top: 2%;
    color: white;
    background: transparent;
  }

  .hero h2 {
    font-size: 1.75em;
  }

  .hero p {
    font-size: 1.2em;
  }

  .row,
  .row-alt {
    min-width: auto;
    padding: 10% 0 10% 0;
  }

  .col-1-3,
  .col-2-3,
  .col-1-2 {
    display: block;
    width: 90vw;
  }

  .col-1-3 {
    width: 90vw;
  }

  .lead h1 {
    margin-bottom: 0;
  }

  .container {
    width: 90vw;
    padding-left: 2%;
    padding-right: 2%;
  }

  .container-solo{
    height: 100%;
    width: 100%;
  }

  .container-solo img {
    width: 100%;
    height: auto;
  }

  .container,
  .grid {
    width: 90vw;
  }

  .tagline {
    text-align: left;
    height: 100%;
    margin-top: 22px;
    margin-bottom: 22px;
  }

  .primary-nav ul {
    display: none;
  }

  .primary-nav ul.show {
    display: flex;
    position: absolute;
    top: 10%;
    right: 0;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #344e41;
  }

  h1.hideLogo a {
    color: transparent;
  }

  .primary-nav li:last-child{
    margin-right: 10px;
  }

  .grid,
  .col-1-3,
  .col-2-3,
  .col-1-2 {
    padding-left: 0;
    padding-right: 0;
    margin-top: 15%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
  }

  .primary-footer .nav ul {
    display: none;
  }
}